#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

textarea {
  background: #343434;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  height: 193px;
  width: 100%;
  line-height: 19px;
  padding: 24px;
  margin: 0 0 16px 0;
}